[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain-chroma = "*"
chromadb = "*"
ollama = "*"
langchain-text-splitters = "*"
pypdf = "*"
unstructured = "*"
langchain-ollama = "*"
langchain-classic = "*"
langchain-anthropic = "*"
langchain-openai = "*"
python-dotenv = "*"
rich = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.9"
